extend layout

block content
    if posts
        each post in posts
            .post
                h1
                    a(href=`/posts/show/${post.slug}`)= post.title
                p.meta Posted in 
                    a(href=`/categories/show/${post.category}`)= `${post.category} by ${post.author.firstName} ${post.author.lastName} → ${h.moment(post.date).fromNow()}`
                    img(src=`/images/posts/${post.image}` alt=`${post.title}`) 
                    !=truncateText(post.body,400)
                    a.more(href=`/posts/show/${post.slug}`) Read More &rarr;