extends layout

block content
    .post
        h1= post.title
        p.meta Posted in 
            a(href=`/categories/show/${post.category}`)= `${post.category} by ${post.author.firstName} ${post.author.lastName} on ${moment(post.date).format("MM-DD-YYYY")}`
            img(src=`/images/post/${post.image}`) 
            !=post.body
            br
            hr
            if post.comments
                h3 Comments
                    each comment in post.comments
                        .comment
                            p.comment-name= comment.name
                            p.comment-body= comment.body
                    br
                    hr
                h3 Add Comment
                if errors
                    ul.errors
                        each error in errors
                            li.alert.alert-danger #{error.msg}
                form.comment-form(method="post" action=`/posts/addcomment/${post._id}`)
                    .form-group
                        label Name
                        input.form-control(type="text", name="name")
                    
                    .form-group
                        label Email
                        input.form-control(type="email", name="email")

                    .form-group
                        label Body
                        textarea.form-control(name="body")

                    br
                    input.btn.btn-default(type="submit", name="submit", value="Add Comment")

